USE [master]
GO
/****** Object:  Database [Empresa]    Script Date: 05/03/2022 11:00:47 PM ******/
CREATE DATABASE [Empresa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Empresa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\Empresa.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Empresa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\Empresa_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Empresa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Empresa]
GO
/****** Object:  Schema [Cadastro]    Script Date: 05/03/2022 11:00:48 PM ******/
CREATE SCHEMA [Cadastro]
GO
/****** Object:  Table [Cadastro].[Cliente]    Script Date: 05/03/2022 11:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cadastro].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[IdPessoa] [int] NULL,
	[UltimaVisita] [datetime] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Cadastro].[Pessoa]    Script Date: 05/03/2022 11:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Cadastro].[Pessoa](
	[IdPessoa] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](250) NULL,
	[CPF] [varchar](11) NULL,
	[Logradouro] [varchar](250) NULL,
	[Numero] [int] NULL,
	[DataCadastro] [datetime] NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[IdPessoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [Cadastro].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Pessoa] FOREIGN KEY([IdPessoa])
REFERENCES [Cadastro].[Pessoa] ([IdPessoa])
GO
ALTER TABLE [Cadastro].[Cliente] CHECK CONSTRAINT [FK_Cliente_Pessoa]
GO
USE [master]
GO
